{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{% if content %}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

  <div class="angebotsteaser_thema bg_angebot kurzmassage_teaser">

<a href="/{{ current_lang }}/profile/{{ dozenten_info.profile_id }}" title="{{ content.field_name|render|striptags|trim|raw }}" target="_self">
  {{ content.field_nutzerbild }}
</a>

<div class="text-align-center teaser_bottom">

    <h2><a href="/{{ current_lang }}/profile/{{ dozenten_info.profile_id }}" title="{{ content.field_name|render|striptags|trim|raw }}" target="_self">{{ content.field_name|render|striptags|trim|raw }}</a></h2>

{{ kurzmassagen_link_liste|raw }}

    <a class="button_corporate" href="/{{ current_lang }}/profile/{{ dozenten_info.profile_id }}" title="{% trans %}Info{% endtrans %}" target="_self">
      {% trans %}Info{% endtrans %}
    </a>


  </div>


</div>
{% endif %}
