{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup templates
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}


<div class="container">
<div class="row flexbox-fix">

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered">
<h3 class="footer_headline">
{% if language == 'en' %}
„Our“ Place
{% else %}
„Unser“ Ort
{% endif %}
</h3>
<div class="footer_standort">
{% if language == 'en' %}
Osho UTA Institute<br />
Spiritual therapy and meditation<br />
UTA Cologne GmbH<br />
Venloer Str. 5-7 50672 Cologne
{% else %}
Osho UTA Institut<br />
Spirituelle Therapie und Meditation<br />
UTA Cologne GmbH<br />
Venloer Str. 5-7 50672 Köln
{% endif %}
<br /><br />
</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered">
<h3 class="footer_headline">
{% if language == 'en' %}
Our
{% else %}
Unser
{% endif %}
 Newsletter</h3>
<form action="https://eu.cleverreach.com/f/4868-130602/wcs/" method="post" target="_blank" id="newsletter-block-form" accept-charset="UTF-8">
<input title="
{% if language == 'en' %}
Your email adress
{% else %}
Deine E-Mail-Adresse
{% endif %}
" id="text2943117" class="centered form-newsletter form-control" placeholder="
{% if language == 'en' %}
Your email adress
{% else %}
Deine E-Mail-Adresse
{% endif %}" name="email" value="" type="email" />
<button type="submit" value="
{% if language == 'en' %}
Sign in
{% else %}
Anmelden
{% endif %}" class="centered button js-form-submit form-submit btn-primary btn" name="">
{% if language == 'en' %}
Sign in
{% else %}
Anmelden
{% endif %}
</button>
</form>
<p><a href="/newsletter"><small>
{% if language == 'en' %}
To the newsletter archive
{% else %}
Zum Newsletter-Archiv
{% endif %}
</small></a></p>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered">
<h3 class="footer_headline">
{% if language == 'en' %}
Your questions
{% else %}
Deine Fragen
{% endif %}
</h3>
<div class="centered footer_fragen">
<a href="tel:{{ service_tel }}" target="_blank" title="tel">{{ service_tel }}</a><br />
<a href="mailto:kontakt@oshouta.de" target="_blank" title="mail">kontakt@oshouta.de</a>
</div>
</div>


<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered">
<h3 class="footer_headline">
{% if language == 'en' %}
Follow us!
{% else %}
Folge uns!
{% endif %}
</h3>
<div class="footer_follow_links">
<a href="https://www.youtube.com/channel/UCVOhgZcw-NjIRglsgnVrYyw/videos" target="_blank" title="UTA Cologne Youtube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
<a href="https://www.facebook.com/utacologne" target="_blank" title="UTA Cologne Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
<a href="https://www.instagram.com/utacologne/" target="_blank" title="UTA Cologne Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
</div>

<div class="col-xs-12 col-lg-12 copyright-area centered">
  <p><small>&copy; {{ 'now'|date('Y') }} 
  {% if language == 'en' %}
Osho UTA Institute &middot; <a href="/en/impressum">Impressum</a> &middot; <a href="/en/data-protection-privacy-policy">Privacy</a> &middot; <a href="/en/terms-and-conditions">Terms and Conditions</a></small></p>
{% else %}
Osho UTA Institut &middot; <a href="/de/impressum">Impressum</a> &middot; <a href="/datenschutz">Datenschutz</a> &middot; <a href="/agb">AGB</a></small></p>
{% endif %}
</div>



<div class="hidden-lg-uta">
{% set items = simplify_menu('partner-websites-menu') %}

<div class="col-md-12 navigation_partner_footer_area">
      <nav class="navigation_partner_footer">
      <small>
      {% trans %}Service-Telefon{% endtrans %}: <a href="tel:{{ service_tel }}" target="_blank" title="tel">{{ service_tel }}</a>
        {% for menu_item in items.menu_tree %}
          | <span>
            <a href="{{ menu_item.url }}" title="{{ menu_item.text }}" target="_blank">{{ menu_item.text }}</a>
          </span>
        {% endfor %}
      </small></nav>
</div>

</div>
</div>
