{#
/**
 * @file
 * Default theme implementation of Angebot Next.
 *
 * Available variables:
 * - data: The entire data array.
 *
 * @ingroup themeable
 */
#}

<div id="angebot_next" class="block">
{% for row in data %}
  {{ row.subheadline|raw }}
  <div class="termin_teaser row no_link_colour">

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="angebot_zeitraum">{{ row.zeitraum }}</div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no_padding_left">
      <h4><a href="{{ row.path_alias }}" title="{% trans %}Info & Anmeldung{% endtrans %}">{{ row.title|striptags }}</a></h4>
        {{ row.dozenten|raw }}
    </div>

  </div>
{% endfor %}
<br/>
{# {% if current_lang == 'de' %} #}
        <section class="weitere_angebote_start">
        <h2 class="block-title no_margin_bottom margin_top">{% trans %}Weitere Angebote{% endtrans %}</h2>
        <div class="btn bg_corporate">
        <a href="/de/taegliche-meditationen" title="{% trans %}Tägliche Meditationen{% endtrans %}" target="_self">{% trans %}Tägliche Meditationen{% endtrans %}</a>
        </div>
        <div class="btn bg_corporate">
        <a href="/de/einzelsitzungen" title="{% trans %}Übersicht Einzelsitzungen{% endtrans %}" target="_self">{% trans %}Übersicht Einzelsitzungen{% endtrans %}</a>
        </div>
        <div class="btn bg_corporate">
        <a href="/de/kurzmassagen" title="{% trans %}Übersicht Kurzmassagen{% endtrans %}" target="_self">{% trans %}Übersicht Kurzmassagen{% endtrans %}</a>
        </div>
        <div class="btn bg_corporate">
        <a href="/de/konzerte" title="{% trans %}Übersicht Konzerte{% endtrans %}" target="_self">{% trans %}Übersicht Konzerte{% endtrans %}</a>
        </div>
        </section>
{# {% endif %} #}
</div>
