{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}


{% for row in rows %}
<div id="utaCarousel" class="carousel slide" data-ride="carousel" data-interval="45000">

  <ol class="carousel-indicators">
    <li data-target="#utaCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#utaCarousel" data-slide-to="1"></li>
    <li data-target="#utaCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {{ row.content }}
    
  </div>
</div>
{% endfor %}
