{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% set anzahl = rows|length - 1 %}

{% if anzahl > 0 %}

<div id="utaCarousel" class="carousel slide" data-ride="carousel" data-interval="45000">

  <ol class="carousel-indicators">
  {% for i in 0..anzahl %}
  {% if i == 0 %}
    <li data-target="#utaCarousel" data-slide-to="{{ i }}" class="active"></li>
  {% else %}
    <li data-target="#utaCarousel" data-slide-to="{{ i }}"></li>
  {% endif %}

  {% endfor %}
  </ol>
  <div class="carousel-inner">
{% for row in rows %}
    {{ row.content }}
{% endfor %}
</div>
</div>

{% else %}


{% for row in rows %}
    {{ row.content }}
{% endfor %}

{% endif %}
