{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
  {% if content %}
<div class="row user-teaser-row">

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-5 left-col">
  {{ content.field_nutzerbild }}
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-7 right-col">
  <a href="/{{ current_lang }}/profile/{{ dozenten_info.profile_id }}" class="link_view_user" title="weitere Infos" target="_self">
    {{ content.field_titel|render|striptags|trim }} {{ content.field_name|render|striptags|trim }}
  </a>

  </div>

  </div>
  {% endif %}
