{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{% if content %}
<article class="user-full">

<div class="row">

<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
  {{ content.field_nutzerbild }}
</div>
<div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
  {% if dozenten_info_vorhanden == 1 %}
  <b><a href="/{{ current_lang }}/profile/{{ dozenten_info.profile_id }}" class="link_view_user" title="weitere Infos" target="_self">
    {{ content.field_titel|render|striptags|trim }} {{ content.field_name|render|striptags|trim }}
  </a></b>
  {% else %}
      {{ content.field_titel|render|striptags|trim }}  {{ content.field_name|render|striptags|trim }}
  {% endif %}
  {{ content.field_kurztext }}
</div>

</div>

</article>
{% endif %}
