{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{% for item in items %}

{% if items|length > 1 %}

<div class="akkordeon-item item_{{ loop.index }}">
  {% set titel = item.content['#paragraph'].field_titel_akkordeon.0.value %}
  {% set text =  item.content['#paragraph'].field_textfeld_akkordeon.0.value %}

  <h3 class="akkordeon-title">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ loop.index }}">
    <i class="fa-corporate fa fa-play" aria-hidden="true"></i>
    {{ titel }}</a>
  </h3>
  <div id="collapse-{{ loop.index }}" class="panel-collapse collapse">
    <div class="akkordeon-content">
    {{ text|raw }}
    </div>
  </div>
</div>

{% else %}

{% set titel = item.content['#paragraph'].field_titel_akkordeon.0.value %}
{% set text =  item.content['#paragraph'].field_textfeld_akkordeon.0.value %}

<h3 class="akkordeon-title">{{ titel }}</h3>
{{ text|raw }}

{% endif %}


{% endfor %}
