@media (max-width: 1024px) {

.navbar-header {
     background: #f17900;
}


.search-block-form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.search-block-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.search-block-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.search-block-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.search-block-form ::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
